div#container{
    overflow-x: auto;
    box-shadow: 1px 1px 2px rgba(158, 158, 158, 0.89);
    position: relative;
    width: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    position: relative;
}
th{
    border: 1px solid black;
    padding: 8px;
    background-color: #d6d6d6;
}
td{
    border: 1px solid black;
    padding: 8px;
}
thead > tr > th{
    position: sticky;
    top: 0;
    
    background-color: #d6d6d6;
}
th#blank {
    border: none;
    background-color: white;

}
col.turmas{
    width: 10%;
}