html {
    margin: 0;
    background-image: linear-gradient(to right, #953553, #800020)
}
#titulo {
    color: white;
    text-align: center;
    font-family: 'Arial Black', Gadget, sans-serif;
    margin-top: 20px;
}
main {
    width: 80%;
    height: 400px;
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
}