
     @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
        
        body {
            background-image: linear-gradient(to right, #012340, #025939);
            color: black;
            text-align: center;
            padding-top: 10%;
            font-family: 'Courier New', Courier, monospace, serif;
            font-size: 1em; /* Tamanho da fonte padrão (16px) */
        }
        main {
            background-color: hsl(178, 100%, 10%);
            max-width: 600px;
            margin: auto;
            text-align: left;
            line-height: 1.6;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 5px 5px 20px black;
            color: #ffd82b;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }
        h1, h2 {
            text-decoration: underline;
        }
        h1 {
            font-size: 3em;
            font-family: 'Times New Roman', Times, serif;           
            font-weight: bold;
            font-style: italic;
            /*ou*/
            font: italic bold 3em 'Times New Roman', Times, serif; 
            /*font-style -> font-weight -> font-size -> font-family*/
        }
        h1#principal {
            font-weight: bolder;
            text-decoration: underline overline;
        }

        h1#principal > p {
            display: none;
        }

        
        h1#principal:hover {
            color: #e68a00;
        }

        h1#principal:hover > p {
            display: block;
            font-size: 0.4em;
            text-align: justify;
            margin-top: 10px;
            color: white;
        }
        h1#principal::after {
            content: ' ⇦';
            text-decoration: none;
            font-weight: normal;
            color: red;
        }
        h3 {
            font-family: 'Orbitron', sans-serif;
                text-align: justify;
        }
        .dez {
            color : #66ff33;
        }
        .quarenta {
            color : #ffff33;
        }
        .sessentaecinco {
            color : #e68a00;
        }
        .noventaenove {
            color : #990000;
        }

        footer {
            margin-top: 20px;
            font-size: 1em;
            color: white;
            font-family: 'Courier New', Courier, monospace, serif;
        }